# This is Git's per-user configuration file.
# The email adress is dynamically updated depending on the directory you're in.
[user]
  name = Nermin Skenderovic
  email = nermin@skenderovic.se

[includeIf "gitdir:~/dev/hobby/"]
  path = ~/dev/hobby/.gitconfig

[includeIf "gitdir:~/dev/chalmers/"]
  path = ~/dev/chalmers/.gitconfig

[pull]
  rebase = true
[init]
  defaultBranch = master
[core]
  ignorecase = false
